/*===========================
    1.COMMON css
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212;
  background-color: #c3c5c7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  margin: -.25rem;
  border-radius: 6px;
  padding: 9px;
}

.pagination li{
  padding: 10px;
}

.paginationActive {
  color: #0d6efd;
}
